.list-separator-wrapper {
  margin: 1em 0;
  position: sticky;
  top: 1em;
  display: flex;
  justify-content: center;
}

.list-separator-title {
  width: 10em;
  position: relative;
  text-align: center;
  color: #fff;
  padding: 0.2em 3em;
  background-color: #a3abe0;
  border-radius: 1em;
}

@media all and (max-width: 600px) {

  .list-separator-title {
    padding: 0.2em 1em;
  }
}
