.message-input {
  padding: 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.message-input-area {
  padding: 1em;
  width: 80%;
  height: 7em;
  resize: none;
}

.message-input-button-wrapper {
  display: flex;
  flex-direction: column;
  width: 10em;
  padding: 0.3em;
}

.message-input .button {
  width: 100%;
}

@media all and (max-width: 600px) {
  .message-input {
    flex-direction: column;
    padding: 0.5em;
  }

  .message-input-area {
    height: 3em;
  }

  .message-input-button-wrapper {
    flex-direction: row;
    width: 80%;
  }
}
