.list-wrapper {
  width: 80%;
  padding: 2em;
  max-width: 1000px;
  margin: 2em auto 0;
  background-color: #fbfbff;
  box-shadow: 0 0 10px #a3aed7;
}

.list-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.list-item-center {
  justify-content: center;
}

.list-title {
  font-weight: normal;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

.list-item:hover {
  background-color: #f7f7fa;
}

.list-bold {
  font-weight: bold;
}

.item-block {
  padding: 1em;
  display: flex;
  align-items: center;
}

.item-block > * {
  margin: 0 1em;
}

.list-item .icon {
  font-size: 1.5em;
  color: #a3abe0;
}

.list-item .icon:hover {
  color: #111968;
}

.list-avatar {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}

.list-label {
  background-color: #a3abe0;
  color: #fff;
  padding: 0.3em 1em;
  border-radius: 10px;
}

