.menu-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu-item {
  padding: 0.5em 2em;
  text-decoration: none;
  border-bottom: 3px solid #fff;
}

.menu-item-bold {
  font-weight: bold;
}

.menu-item-active {
  border-bottom: 3px solid #a3abe0;
}

.menu-item:hover {
  border-bottom: 3px solid #344792;
}

.menu-item-plain:hover {
  border-bottom: 3px solid #fff;
}
