.message-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.message-wrapper-right {
  justify-content: flex-end;
}

.message {
  max-width: 60%;
  width: fit-content;
  padding: 1em;
  margin: 0.5em 1em;
  background-color: #f2f7ff;
  box-shadow: 0 0 3px #a3aed7;
  border-radius: 10px;
  display: flex;
  white-space: pre-wrap;
  word-break: break-word;
}

.message-wrapper .icon {
  display: none;
  color: #a3abe0;
  margin: 0 0.6em;
}

.message-wrapper .icon-text {
  cursor: default;
}

.message-wrapper .icon-active {
  color: #1b2ac7;
  display: block;
}

.message-wrapper .icon:hover {
  color: #111968;
}

.message-wrapper .icon-text:hover {
  color: #a3abe0;
}

.message-wrapper .icon-active.icon-text:hover {
  color: #111968;
}

.message-wrapper:hover .icon {
  display: block;
}

.message-avatar {
  height: 3em;
  width: 3em;
  margin-right: 1em;
  border-radius: 50%;
}
.message-content {
  font-size: 1em;
}

.message-user {
  font-weight: bold;
  margin-bottom: 0.2em;
}

.message-body {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.message-text {
  margin: 0 0.8em 0 0;
}

.message-time{
  color: #a3abe0;
  margin-left: auto;
}

@media all and (max-width: 600px) {

  .message {
    padding: 0.5em;
    margin: 0.5em;
  }

  .message-bottom {
    margin-top: 0.5em;
  }
}
