.chat-wrapper {
  font-size: 16px;
  max-width: 1200px;
  margin: 0 auto;
}

.chat {
  position: relative;
  border-radius: 15px;
  background-color: #fbfbff;
  box-shadow: 0 0 10px #a3aed7;
  margin: 2em;
}

@media all and (max-width: 600px) {
  .chat {
    margin: 0;
  }
}
