.form-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 80%;
  max-width: 500px;
  padding: 1em;
  background-color: #fbfbff;
  box-shadow: 0 0 10px #a3aed7;
}

.form-error {
  padding: 1em;
  text-align: center;
  background-color: #ff9686;
  color: #fff;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

.form-header {
  text-align: center;
  font-weight: normal;
  font-size: 2em;
  margin: 1em 0;
}

.form-buttons {
  justify-content: center;
}

.form-label {
  width: 20%;
  text-align: right;
}

.form-input {
  width: 70%;
  padding: 0.75em;
  border-radius: 5px;
  border: 1px solid #a3aed7;
}

.form-textarea {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 10em;
  padding: 0.75em;
  resize: none;
}


